{% extends "base_generic.html" %}

{% block title %}
    <title>Customer list</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="main-content">  
        <h1>Danh sách khách hàng</h1>

    <a href="{% url 'create_customer' %}" class="btn btn-primary">Thêm khách hàng mới</a>
    <br><br>

    {% if customers %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã khách hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Nhóm khách hàng</th>
                <th scope="col">Chi tiết</th>
                <th scope="col">Xóa</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.pk }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.seg }}</td>
                <td>
                    <a href="{% url 'customer_detail' pk=customer.pk %}" class="btn btn-info">Detail</a>
                </td>
                <td>
                    <a href="{% url 'customer_delete' pk=customer.pk %}" class="btn btn-danger" onclick="return confirm('Bạn có chắn chắn xóa khách hàng này? Không thể khôi phục được dữ liệu khách hàng');">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">There are no customers.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>There are no customers.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
