{% extends "base_generic.html" %}

{% block content %}
    <h1>Order Detail: {{ order.code }}</h1>
    <h3>Customer: {{ order.customer.name }}</h3>
    
    <h2>Products:</h2>  
    {% if order_lines %}
    <ul>
        {% for line in order_lines %}
        <li>
            Product: {{ line.product.name }}<br>
            Unit Price: {{ line.product.unit_price }}<br>
            Quantity: {{ line.quantity }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No products in this order.</p>
    {% endif %}
{% endblock %}
