{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <div class= "main-content">
        <h2>Tạo nhóm khách hàng mới</h2>
        <br>
        <form id="segmentForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="segCode">Mã nhóm khách hàng:</label>
                <input type="text" class="form-control" id="segCode" name="seg_code" required>
            </div>
            <div class="form-group">
                <label for="segName">Tên nhóm khách hàng:</label>
                <input type="text" class="form-control" id="segName" name="seg_name" required>
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
        <br>
    </div>
    <div id="responseMessage" style="display: none;"></div>
</div>

<script>
document.getElementById("segmentForm").addEventListener("submit", function(event) {
    event.preventDefault();  
    var formData = new FormData(this);
    
    fetch("{% url 'create_segment' %}", {
        method: "POST",
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => {
        return response.json();
            })
    .then(data => {
        // Hiển thị thông báo thành công
        document.getElementById("responseMessage").style.display = "block";
        $('#responseMessage').html(`
            <div class="alert alert-success" role="alert">
                ${data.message}
            </div>
            `).show().fadeOut(10000);
        document.getElementById("segmentForm").reset();
    });
});
</script>

{% endblock %}
